.img-overlay-wrap {
    position: relative;
    display: inline-block; /* <= shrinks container to image size */
    transition: transform 150ms ease-in-out;
    margin-left: 10%
  }
  
  .img-overlay-wrap img { /* <= optional, for responsiveness */
     display: block;
     max-width: 100%;
     height: auto;
  }

  #base-svg {
    position: absolute;
    top: 10%;
    left: 0;
  }