body {
    background: url(/static/images/backgrounds/brickwall.png) repeat 0 0;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Corben', Georgia, Times, serif;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

a {
    color: blue
}

.main-title {
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
}

.main-title h2 {
    font-size: 30px
}

.ui.table thead th {
    background-color: #E9C46A
}

.ui.table {
    background-color: #eae2b7;
    table-layout: fixed;
    overflow-wrap: break-word;
}

.ui.table td {
    background-color: cornsilk;
}

.ui.form .field>label {
    position: relative !important;
    left: 10px;
    margin: 10px 0px 10px 0px;
}

.crypto-icons {
    display: flex;
    justify-content: start; 
    gap: 15px
}

.ui.dropdown .menu>.item>.image,
 .ui.dropdown .menu>.item>img,
  .ui.dropdown>.text>.image,
   .ui.dropdown>.text>img{
margin-top: -.3em !important;
}

#popup.modal {
    text-align: center !important;
}