.ui.form .field>label {
    position: relative !important;
    left: 10px;
    margin: 10px 0px 10px 0px;
}

div.ui.search.dropdown.selection {
    background-color:red !important;
}

/* label {
    background-color:blue
} */
/* .window.modal {
    margin: 30px 10px !important
}

#trade-form-form.ui.form {
   margin: 10px 10px
} */