body {
    background: url(/static/images/subtle-white-feathers.png) repeat 0 0;
}

.ui.table thead th {
    background-color: #E9C46A
}

.ui.table {
    background-color: #eae2b7
}

.ui.form .field>label {
    position: relative !important;
    left: 10px;
    margin: 10px 0px 10px 0px;
}

.crypto-icons {
    display: flex;
    justify-content: start; 
    gap: 15px
}

.ui.dropdown .menu>.item>.image,
 .ui.dropdown .menu>.item>img,
  .ui.dropdown>.text>.image,
   .ui.dropdown>.text>img{
margin-top: -.3em !important;
}

#popup.modal {
    text-align: center !important;
}