{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<body>
    <div>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>

</body>
<script type="text/javascript">
   
    const data = {
        labels: {{ coin_order|safe }},
        datasets: [{
            label: 'Trade Summary',
            data: {{ profit_order|safe }},
            backgroundColor: [
                'rgb(255, 99, 132)',
                'rgb(54, 162, 235)',
                'rgb(255, 205, 86)'
            ],
            hoverOffset: 4
        }]
    };
    const config = {
        type: 'pie',
        data: data,
        options: {maintainAspectRatio: false}
    };
    var myChart = new Chart(
        document.getElementById('myChart'),
        config
    );
</script>
{% endblock %}
