{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="static/split-screen.css" />
<link rel="stylesheet" href="static/overridestyle.css" />

<body class="split">
    <div class="split left">
        <div class="main-title">
            <h2>Winners</h2>
        </div>
        <div>
            <canvas id="bestPie" width="400" height="400"></canvas>
        </div>
    </div>
    <div class="split right">
        <div class="main-title">
            <h2>Losers</h2>
        </div>
        <div>
            <canvas id="worstPie" width="400" height="400"></canvas>
        </div>
    </div>

</body>
<script type="text/javascript">

    const profitData = {
        labels: {{ profitable_coins| safe }},
    datasets: [{
        label: 'Trade Summary',
        data: {{ profits_ordered| safe }},
        backgroundColor: {{ profitable_colour_order| safe }},
        hoverOffset: 4
        }]
    };
    const profitConfig = {
        type: 'pie',
        data: profitData,
        options: { maintainAspectRatio: false }
    };
    var bestPie = new Chart(
        document.getElementById('bestPie'),
        profitConfig
    );
</script>
<script type="text/javascript">

    const lossData = {
        labels: {{ loss_coins| safe }},
    datasets: [{
        label: 'Trade Summary',
        data: {{ losses_ordered| safe }},
        backgroundColor: {{ loss_colour_order| safe }},
        hoverOffset: 4
        }]
    };
    const lossConfig = {
        type: 'pie',
        data: lossData,
        options: { maintainAspectRatio: false }
    };
    var worstPie = new Chart(
        document.getElementById('worstPie'),
        lossConfig
    );
</script>
{% endblock %}