{% extends "layout.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link rel="stylesheet" href="static/split-screen.css" />
<link rel="stylesheet" href="static/overridestyle.css" />
<style type="text/css">
    .left {
        padding-left: 10%
    }
    .right {
        padding-right: 10%
    }
</style>

<body class="split">
    <div style="position: relative; left: 72%; margin-top: 2.5%">
        <span>
            <h2>In total, you've {{prof_or_loss}} {{total}}</h2>
        </span>
    </div>
    <div class="split left" style="margin-top:4%;">
        <div class="main-title">
            <h2>Winners</h2>
        </div>
        <div>
            <canvas id="bestPie" width="420" height="420"></canvas>
        </div>
        <div>
            <h4 style="text-align:center; margin-top: 20px; line-height: 1.8em;">
                Through savvy trades, you've gained {{total_gained}}, with your highest earner, {{highest_earner_coin}},
                adding {{highest_earner_amount}} to your balance.</h4>
        </div>
    </div>
    <div class="split right" style="margin-top:4%;">
        <div class="main-title">
            <h2>Losers</h2>
        </div>
        <div>
            <canvas id="worstPie" width="420" height="420"></canvas>
        </div>
        <div>
            <h4 style="text-align:center; margin-top: 20px; line-height: 1.8em;">You've racked up {{total_lost}} in
                losses, with {{biggest_burner_coin}} alone burning a {{biggest_burner_amount}} hole in your wallet</h4>
        </div>
    </div>
</body>

<script type="text/javascript" src="/static/analysis.js"></script>
<script
    type="text/javascript">createBestPie({{ profitable_coins| safe }}, {{ profits_ordered| safe }}, {{ profitable_colour_order| safe }})</script>
<script
    type="text/javascript">createWorstPie({{ loss_coins| safe }}, {{ losses_ordered| safe }}, {{ loss_colour_order| safe }})</script>
{% endblock %}