{% extends "layout.html" %}

{% block content %}
<style>
    .ui.celled.table {
        border-collapse: collapse;
        margin: 25px 0;
        color: blue;
        font-size: 0.9em;
        min-width: 400px;
    }
</style>
<form>
<div class="ui left icon input loading">
    <input name="search" type="text" placeholder="Search..." data-com.bitwarden.browser.user-edited="yes">
    <i class="search icon"></i>
</div>
<div class="ui checkbox">
    <input name="gain" type="checkbox" name="gain">
    <label>Gain</label>
</div>
<div class="ui checkbox">
    <input name="pain" type="checkbox" name="pain">
    <label>Pain</label>
</div>
<button type="submit" class="ui button primary">
    Filter
  </button>
  <button class="ui button">
    Reset
</button>
</form>

<table class="ui celled table">
    <thead>
      <tr>
        <th>Cryptocurrency</th>
        <th>Price</th>
        <th>Price Change</th>
        <th>Percentage Change</th>
        <th>Gain</th>
        <th>Pain</th>
      </tr>
    </thead>
    <tbody>
        {% for crypto in cryptos %}
      <tr>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.price}}</td>
        <td>{{crypto.change}}</td>
        <td>{{crypto.percentage_change}}</td>
        {% if crypto.gain == 1 %}
        <td class="positive"><i class="icon checkmark"></i></td>
        {% else %}
        <td></td>
        {% endif %}
        {% if crypto.pain == 1 %}
        <td class="negative"><i class="icon close"></i></td>
        {% else %}
        <td></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}