{% extends "layout.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>
    $( document ).ready(function() {
        $('.ui.search.dropdown')
  .dropdown()
;
        $("#try_your_luck").click(function() {
            $("#trade-form").modal();
        });
        $("#c2b").on('change', function(){
            // todo: add conditional to ignore select blank option
            $("#c2s > option").slice(1).remove();
            var conceptName = $('#c2b').find(":selected").text();
            $.ajax({
                url: "/limit-dropdown",
                type: "GET",
                data: {
                c2b: conceptName,
                },
                success: function(response) {
                console.log(response);
                var dropMenu = document.getElementById('c2s');
                for (val of response) {
                    var option = document.createElement("option");
                    option.value = val;
                    option.text = val;
                    dropMenu.appendChild(option);
                }},
                error: function(xhr) {
                console.log(xhr.responseText)
                }
                });
            });
        $('.ui.form')
            .form({
                fields: {
                coin_to_buy: {
                    identifier: 'c2b',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a coin to buy'
                    }
                    ]
                },
                coin_to_sell: {
                    identifier: 'c2s',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter a coin to sell'
                    }
                    ]
                },
                amount: {
                    identifier: 'a2s',
                    rules: [
                    {
                        type   : 'empty',
                        prompt : 'Please enter the amount you would like to sell'
                    }
                    ]
                },
                }
            })
            ;
        function openModal() {
               $("#trade-form").modal({fadeDuration: 250});
           }; 
        function TradeSubmit(dataObject){
            // returns a promise that can be used later. 
            return $.ajax({
                url: "/gain-or-pain",
                type: "POST",
                contentType: "application/json",
                data: dataObject,
                datatype: "json"
            });
            }
        function TradeGet(){
            return $.get( "/trade-db", function( data ) {
                console.log(data);
                $( ".result" ).html( data );
                $( "#dollar-result" ).data( "dollars", {WorL: data['gain_or_pain_in_dollars'], total_dollar: data['total_user_dollars'], before_dollars: data["before_dollars"]});
                var positive_num = Math.abs($( "#dollar-result" ).data( "dollars" ).WorL.toFixed(2));
                var user_dollar = $( "#dollar-result" ).data( "dollars" ).total_dollar.toFixed(2);
                var before_dollar = $( "#dollar-result" ).data( "dollars" ).before_dollars.toFixed(2);
                if (data['gain_or_pain_in_dollars'] > 0) { $( "#win-or-lose" ).text( "Great success!");
                $( "#photo-result" ).attr( "src", "/static/moneybag.svg" );
                 $( "#dollar-result" ).text( "You gained $" + positive_num + ", bringing your starting total from $" + before_dollar + " to $" + user_dollar + "!") }
                else {
                    $( "#win-or-lose" ).text( "Massive failure :(" );
                    $( "#photo-result" ).attr( "src", "/static/skulldollar.svg" );
                    $( "#dollar-result" ).text( "You lost $" + positive_num + ", taking your starting total from $" + before_dollar + " down to $" + user_dollar)
                    }
            });
        }
        $("#submit_trade").click(function() {
            var coin_to_buy = $("#c2b").val();
            var coin_to_sell = $("#c2s").val();
            var amount = $("#amount").val();
            var dataObject = JSON.stringify({
                    'base_asset': coin_to_buy,
                    'quote_asset': coin_to_sell,
                    'user_amount': amount,
                });
            TradeSubmit(dataObject)
            setTimeout(() => {TradeGet()}, 250);
            $( "#coin_to_buy" ).val( "" );
            $( "#coin_to_sell" ).val( "" );
            $( "#amount" ).val( "" );
            $.modal.close();
            $("#popup").modal({fadeDuration: 250});
            $("#resubmit").click(function() {
                openModal()});
            })
        })
</script>
<script src="static/sortable.min.js"></script>
<link rel="stylesheet" href="static/sortable.min.css">
<style>
    .ui.celled.table {
        border-collapse: collapse;
        margin: 25px 0;
        color: blue;
        font-size: 0.9em;
        min-width: 400px;
    }
    .hide-value {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
    /* Required field in search box prevents capitalisation of placeholder. */
    #userInput:valid { text-transform: uppercase;}
</style>
<form>
<div class="ui left icon input">
    <input name="search" type="text" id="userInput" required="required" placeholder="Search..." onkeyup="filterTable()" data-com.bitwarden.browser.user-edited="yes" value={{ search or '' }}>
    <i class="search icon"></i>
</div>
<div class="ui checkbox">
    <input name="gain" type="checkbox" name="gain" {% if gain %}checked="checked"{% endif %}>
    <label>Gain</label>
</div>
<div class="ui checkbox">
    <input name="pain" type="checkbox" name="pain" {% if pain %}checked="checked"{% endif %}>
    <label>Pain</label>
</div>
<button type="submit" class="ui button primary">
    Filter
  </button>
<button class="ui button">
    Reset
</button>
</form>
<button id="try_your_luck" class="ui animated button green" tabindex="0">
    <div class="visible content">Try your luck!</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
</button>

<table class="ui celled table sorter" id="cryptoTable">
    <thead>
      <tr>
        <th>Cryptocurrency Pair</th>
        <th>Base Asset</th>
        <th>Quote Asset</th>
        <th>Exchange Rate</th>
        <th>Price Change</th>
        <th>Percentage Change</th>
        <th>Gain/Pain</th>
      </tr>
    </thead>
    <tbody>
        {% for crypto in cryptos %}
      <tr {% if crypto.gain == 1 %} style="background-color:#fcfff5" {% endif %} {% if crypto.pain == 1 %} style="background-color:#fef5f6" {% endif %}>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.base_asset}}</td>
        <td>{{crypto.quote_asset}}</td>
        <td>{{crypto.price}}</td>
        <td>{{crypto.change}}</td>
        <td>{{crypto.percentage_change}}</td>
        {% if crypto.gain == 1 %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div><i class="icon checkmark" style="color:green; visibility: visible" ></i></td>
        {% elif crypto.pain == 1 %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div><i class="icon close" style="color:crimson" ></i></td>
        {% else %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  
  <div id="trade-form" class="window modal">
<form class="ui form">
    <h3>Try your luck!</h3>
    <div class="field">
        <label>Coin to buy: </label>
        <select name="c2b" id="c2b" class="ui search dropdown">
            <option value="">Select coin to buy</option>
            {% for coin in set_of_base_coins %}
            <option>{{coin}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="field">
        <label>Coin to sell: </label>
        <select name="c2s" id="c2s" class="ui search dropdown">
            <option value="">Select coin to sell</option>
        </select>
    </div>
    <div class="field"><p><label>Amount to sell: </label><input placeholder="e.g. 3" name="a2s" type="text" id="amount"></p></div>
    <p>
        <a href="close-modal" rel="modal:close">
        <input type="submit" value="Nope" class="ui black deny button" style="margin-right:20px">
        </a>
        <input type="submit" value="Submit trade" class="ui positive right labeled icon button" id="submit_trade">
    </p>
    <div class="ui primary submit button">Submit</div>
    <div class="ui error message"></div>
</form>
    </div>

    <div id="popup" class="modal" style="vertical-align: middle;">
        <div class="image content">
          <div class="ui medium image">
            <img id=photo-result>
          </div>
          <div class="description">
            <div id="win-or-lose" class="ui header" style="margin-top:5px"></div>
            <p id="dollar-result" style="margin-top: 15px; font-size: 16px;"></p>
            <p style="margin-bottom:15px; font-size:18px">Try again?</p>
          </div>
        </div>
        <div class="actions">
        <a href="close-modal" rel="modal:close">
          <div class="ui black deny button">
            Nope
          </div>
          </a>
          <div id="resubmit" class="ui positive right labeled icon button">
            Sure...
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>

  <script>
    function filterTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("userInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("cryptoTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    
{% endblock %}