{% extends "layout.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<script>
    $( document ).ready(function() {
        $("#try_your_luck").click(function() {
            $("#trade-form").modal();
        })
        $("#submit_trade").click(function() {
            var coin_to_buy = $("#coin_to_buy").val();
            var coin_to_sell = $("#coin_to_sell").val();
            var amount = $("#amount").val();
            var dataObject = JSON.stringify({
                    'base_asset': coin_to_buy,
                    'quote_asset': coin_to_sell,
                    'user_amount': amount,
                });
            $.ajax({
                url: "/gain-or-pain",
                type: "POST",
                contentType: "application/json",
                data: dataObject,
                datatype: "json"
            })
            $.modal.close();
            $.get( "/trade-db", function( data ) {
                $( ".result" ).html( data );
                console.log(data);
                $( "#result" ).data( "test", data['gain_or_pain_in_dollars'] );
                if (data['gain_or_pain_in_dollars'] > 0) { $( "#result" ).text( "Great success!"); }
                else {
                    $( "#result" ).text( "Massive failure :(");
                    }
            });
            $("#popup").modal();


        })
        
        
    })
</script>
<script src="static/sortable.min.js"></script>
<link rel="stylesheet" href="static/sortable.min.css">
<style>
    .ui.celled.table {
        border-collapse: collapse;
        margin: 25px 0;
        color: blue;
        font-size: 0.9em;
        min-width: 400px;
    }
    .hide-value {
   position: absolute !important;
   top: -9999px !important;
   left: -9999px !important;
}
    /* Required field in search box prevents capitalisation of placeholder. */
    #userInput:valid { text-transform: uppercase;}
</style>
<form>
<div class="ui left icon input">
    <input name="search" type="text" id="userInput" required="required" placeholder="Search..." onkeyup="filterTable()" data-com.bitwarden.browser.user-edited="yes" value={{ search or '' }}>
    <i class="search icon"></i>
</div>
<div class="ui checkbox">
    <input name="gain" type="checkbox" name="gain" {% if gain %}checked="checked"{% endif %}>
    <label>Gain</label>
</div>
<div class="ui checkbox">
    <input name="pain" type="checkbox" name="pain" {% if pain %}checked="checked"{% endif %}>
    <label>Pain</label>
</div>
<button type="submit" class="ui button primary">
    Filter
  </button>
<button class="ui button">
    Reset
</button>
</form>
<button id="try_your_luck" class="ui animated button green" tabindex="0">
    <div class="visible content">Try your luck!</div>
    <div class="hidden content">
      <i class="right arrow icon"></i>
    </div>
</button>

<table class="ui celled table sorter" id="cryptoTable">
    <thead>
      <tr>
        <th>Cryptocurrency Pair</th>
        <th>Base Asset</th>
        <th>Quote Asset</th>
        <th>Exchange Rate</th>
        <th>Price Change</th>
        <th>Percentage Change</th>
        <th>Gain/Pain</th>
      </tr>
    </thead>
    <tbody>
        {% for crypto in cryptos %}
      <tr {% if crypto.gain == 1 %} style="background-color:#fcfff5" {% endif %} {% if crypto.pain == 1 %} style="background-color:#fef5f6" {% endif %}>
        <td>{{crypto.symbol}}</td>
        <td>{{crypto.base_asset}}</td>
        <td>{{crypto.quote_asset}}</td>
        <td>{{crypto.price}}</td>
        <td>{{crypto.change}}</td>
        <td>{{crypto.percentage_change}}</td>
        {% if crypto.gain == 1 %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div><i class="icon checkmark" style="color:green; visibility: visible" ></i></td>
        {% elif crypto.pain == 1 %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div><i class="icon close" style="color:crimson" ></i></td>
        {% else %}
        <td style="text-align: center; vertical-align: middle;"><div class="hide-value">{{crypto.percentage_change}}</div></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div id="trade-form" class="window modal">
    <h3>Try your luck!</h3>
    <p><label>Coin to buy: </label><input type="text" id="coin_to_buy"></p>
    <p><label>Coin to sell: </label><input type="text" id="coin_to_sell"></p>
    <p><label>Amount to sell: </label><input type="text" id="amount"></p>
    <p>
        <input type="submit" value="Nope" class="ui black deny button">
        <input type="submit" value="Submit trade" class="ui positive right labeled icon button" id="submit_trade">
    </p>
    </div>

    <div id="popup" class="modal" style="vertical-align: middle;">
        <div class="image content">
          <div class="ui medium image">
            <img src="https://cdn.pixabay.com/photo/2019/08/20/13/56/money-4418858_1280.jpg">
          </div>
          <div class="description">
            <div id="result" class="ui header"></div>
            <p>Amount lost:</p>
            <p>Looks like you've lost out this time :(</p>
            <p>Try again?</p>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Nope
          </div>
          <div class="ui positive right labeled icon button">
            Sure...
            <i class="checkmark icon"></i>
          </div>
        </div>
      </div>


  
    
  <script>
    function filterTable() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("userInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("cryptoTable");
      tr = table.getElementsByTagName("tr");
    
      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    </script>
    
{% endblock %}